<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Teste JAVA + ANGULAR</title>
</head>
<body ng-app="demo">
	<hr />
	<div class="container" ng-controller="UserController">
		<div class="form-group">
			<label>Nome cliente </label> <input type="text"
				ng-model="userDto.clientName" class="input-sm spacing" /> <br>
		</div>
		<div class="form-group">
			<label>Limite de crédito </label> <input type="text"
				ng-model="userDto.creditLimit" money-mask money-mask-prepend="R$ " class="input-sm" /> <br>
		</div>

		<div class="form-group">
			<label>Tipo de risco </label> <select name="selectElem"
				ng-model="userDto.riskType"
				ng-options="item as item for item in options">
				<option value="" selected disabled>Selecione</option>
			</select>
		</div>

		<button ng-click="saveUser()" class="btn btn-sm btn-info">Salvar</button>

		<hr />
		<div class="row">
			<p>{{allUsers | json}}</p>
		</div>
		<hr />
		<h2>Dados Cadastrados: </h2>
		<div class="row" ng-repeat="user in allUsers">
			<div class="row">
				<div class="col-xs-3">Nome Cliente</div>
				<div class="col-xs-9">{{ user.clientName }}</div>
			</div>
			<div class="row">
				<div class="col-xs-3">Limite de Crédito</div>
				<div class="col-xs-9">{{ user.creditLimit | currency : "R$" }}</div>
			</div>
			<div class="row">
				<div class="col-xs-3">Risco</div>
				<div class="col-xs-9">{{ user.riskType }}</div>
			</div>
			<div class="row">
				<div class="col-xs-3">Taxa de Juros</div>
				<div class="col-xs-9">{{user.interestRate | percentage}}</div>
			</div>
			<hr />
		</div>
	</div>
</body>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/rw-money-mask-min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/UserController.js"></script>
<script src="js/app/UserService.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css" />
<link rel="stylesheet" href="css/app/app.css" />
</html>